* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 100vw;
  text-align: center;
  background-color: lightgray;
  font-size: x-large;
}

.preview {
  width: 100vw;
  height: 800px;
}